@import "tailwindcss";

@font-face {
    font-family: 'Rasa-Regular';
    src: url('/fonts/Rasa-Regular.ttf') format('truetype');
}

.rasa-font {
    font-family: 'Rasa-Regular', 'serif';
}

.hide-scrollbar {
    /* Cho Firefox */
    scrollbar-width: none;
    /* Cho Internet Explorer và Edge cũ */
    -ms-overflow-style: none;
}

/* Cho Chrome, Safari và Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}